.confirmation-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.confirmation-QR{
  background-color: var(--secondary-color);
  width: 50%;
}

table, th, td {
  height: 50px;  
}
.qr-code{
  width: 45%;
  text-align: center;
}
td {
  text-align: left;
}
.td-label{
  font-weight: bolder 
}

.td-center{
  text-align: center;
}

.td-middle{
  padding-left: 10%;
}