.header {
  background-color: var(--primary-color);
  color: black;
  display: flex;
  justify-content: center;
  position: relative;
  /*border: 2px solid green*/

}

.headerContainer {
  width: 70%;
  padding-left: 20px;
  display: flex;
  /*border: 2px solid red*/
}
.header-carousel{
  align-items: center;
  /*border: 2px solid red;*/
  width: 60%
}

.carousel-element {
  width: 100%;
  height: 100%;
}

.carousel-image {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Maintains aspect ratio while covering the area */
}


.header-content{
  width: 100% ;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.header-content{
  width: 40%
}
.headerTitle {
  margin-bottom: 20px;
}

.headerDesc {
  margin-bottom: 20px;
}
.cb-explore-button{
  margin-bottom: 20px;
}