.login {
    height: 100vh;
    width: 100%;
    display: flex;
}
.login-container {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 60%;
    padding: 20px;
    /*border: 3px solid antiquewhite;*/

}
.input-container{
    margin-top: 2%;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 60%;
    /*border: 3px solid red;*/
    outline: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1);
}
.title{
    font-family: "Monaco", "Courier New", monospace;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    /*border: 3px solid yellow;*/
}
.inputs #login-button{
    width: 50%;
    background-color: var(--button-color)
}
.inputs .MuiFormControl-root {
    width: 100%;
    margin: 10px
}
.signup-container {
    display: flex;
    background-color: var(--primary-color);
    width: 40%;
    justify-content: center;
    align-items: center;
    /*border: 3px solid yellow;*/
}
#logo{
    height: 80px;
    width: 80px;
    align-self: flex-start;
    margin-bottom: 20px;
}
.signup-message-container{
    /*border: 3px solid yellow;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    outline: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1);
    padding: 25px;
    background-color: var(--secondary-color);
}
h2{
    text-align: center;
}