.hotels-view-container{
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.filter-box-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 18%;
}

.hotels-display-container{
  width: 64%;
}

.listSearch {
  flex: 1;
  background-color: var(--secondary-color);
  margin-top: 50px;
  border: var(--solid-border);
  padding: 10px;
  border-radius: 10px;
  position: sticky;
  top: 10px;
  height: max-content;
}

.lsTitle{
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
}

.lsItem{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 10px;
}
.lsItem-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.lsOptions{
  padding: 10px;
}

.listContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.lsOptionItem{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  margin-bottom: 10px;
  color: black;
  font-size: 12px;
}


.listResult {
  width: 100%;
}
