.mail{
  width: 100%;
  background-color: var(--primary-color);
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:20px;
  gap: 10px
}
.mailInputContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.copyright{
  font-size: x-small;
}
.mailDesc{
  margin-bottom: 20px;
}
